@charset "UTF-8";
/* GENERAL CSS Document */
body {
	font-family:"Trebuchet MS",Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
	background: #EFEEEA;
}

#barraTop{
	background: #00A0C2;
	width: 80%;
	height: 8px;
	padding:0 10% 0 10%;  
}

#topFecha{
	width: 25%;
	height: 25px;
	padding:15px 0 10px 0;
	float: left;
	color: #FFF;
	font-size: 14px;
	font-weight: lighter;
}

/* Estilo Botones Redes Sociales*/
#sociales_footer{
	width: 50%;
	height: 30px;
	padding:10px 0 10px 0;
	float: left;
	color: #FFF;
	font-size: 14px;
	font-weight: lighter;
	text-align: center;	
}
#sociales_footer:hover a {
    opacity: 0.2;
 }

#sociales_footer a {
	 -moz-transition-property:opacity ;
	 -moz-transition-duration: 900ms;
	 -webkit-transition-property: opacity;
	 -webkit-transition-duration: 900ms;
 }

#sociales_footer a:hover {
	 opacity: 1;
}
/* Fin */

#topBuscar{
	width: 25%;
	height: 40px;
	padding:10px 0 10px 0;
	float: left;
	color: #FFF;
	font-size: 14px;
	font-weight: lighter;
}

#search{
	width: 150px;
	height: 25px;
	position: relative;	
	left: 50px;
	top: -5px;
	border: none;
}

#buscar{
	background: #FFF url(../images/icon_lupa.png) no-repeat;
	border: none;
	width: 30px;
	height: 25px;
	top: 2px;
    left: 45px;
	position: relative;
	-moz-border-radius-topright: 3em;
    -moz-border-radius-bottomright: 3em;
    -webkit-border-top-right-radius: 3em;
    -webkit-border-bottom-right-radius: 3em;
    border-top-right-radius:     3em;
	border-bottom-right-radius:  3em;
}

#header{
	background: #FFF url(../images/bg-header.jpg) repeat;
	width: 80%;
	height: 110px;
	padding:0 10% 0 10%; 
}

#logo{
	width: 30%;
	height: 100px;
	float: left;
}
#menu{
	width: 68%;
	height: 100px;
	float: left;
	padding: 20px 0 0 2%;
}

/* main menu styles */
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 58px;
}
.menu li {
    background: -moz-linear-gradient(#23B7D1, #1775C0);
    background: -ms-linear-gradient(#23B7D1, #1775C0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23B7D1), color-stop(100%, #1775C0));
    background: -webkit-linear-gradient(#23B7D1, #1775C0);
    background: -o-linear-gradient(#23B7D1, #1775C0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23B7D1', endColorstr='#1775C0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23B7D1', endColorstr='#1775C0')";
    background: linear-gradient(#23B7D1, #1775C0);
    min-width: 12%;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-size: 12px;
    height: 30px;
    padding: 10px 12px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.menu li:hover {
    background-color: #1FB7D1;
    background: -moz-linear-gradient(#1FB7D1, #009DC0);
    background: -ms-linear-gradient(#1FB7D1, #009DC0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1FB7D1), color-stop(100%, #009DC0));
    background: -webkit-linear-gradient(#1FB7D1, #009DC0);
    background: -o-linear-gradient(#1FB7D1, #009DC0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FB7D1', endColorstr='#009DC0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FB7D1', endColorstr='#009DC0')";
    background: linear-gradient(#1FB7D1, #009DC0);
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #FFFFFF;
}

/* submenu styles */
.submenu a {
    text-align: left;
}
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    width: 300px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
    height: 40px;
}
.menu .submenu li:hover a {
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 200px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/* fin menu*/

/* Menu Alterno 2 */
#menuAlterno {
  display: inline-block;
  height: 128px;
  margin: -15px 0 0 0;
  text-align: center;
  white-space: nowrap;
  width: 90%;
  padding: 0 0 0 10%;
  /*background: #009EC1;*/
  background: url("../images/menuAlternoDegradado.jpg") repeat-x;
}
#menuAlterno ul {
  margin: 0;
  padding: 0;
  position: relative;
}
#menuAlterno ul:after {
  clear: both;
  content: "";
  display: block;
}

#menuAlterno li {
  /*padding: 90px 0 0 0;*/
  background-position: 50% center;
  display: block;
  float: left;
  font-size: 14px;
  height: 128px;
  line-height: 210px;
  margin-right: 1%;
  position: relative;
  white-space: nowrap;
  width: 13%;
  z-index: 2;
}
#menuAlterno li:after {
  background: url("../images/bg.png") repeat scroll 0 0;	
  content: "";
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0;
  width: 10%;
}
#menuAlterno li:nth-child(1):before {
  background: url("../images/bg.png") repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -10%;
  position: absolute;
  top: 0;
  width: 10%;
}

#menuAlterno li:nth-child(1) {
  /*background: url("../images/1.png") #FFF no-repeat center;*/
  background: url("../images/1.png") no-repeat center;
  margin-left: 1%;
}
#menuAlterno li:nth-child(1):hover {
  /*background: url("../images/1.png") #C0C0C0 no-repeat center;*/
  background: url("../images/1.png") no-repeat center;
  margin-left: 1%;
}
#menuAlterno li:nth-child(2) {
  background: url("../images/2.png") no-repeat center;
}
#menuAlterno li:nth-child(2):hover {
  background: url("../images/2.png") no-repeat center;
}
#menuAlterno li:nth-child(3) {
  background: url("../images/3.png") no-repeat center;
}
#menuAlterno li:nth-child(3):hover {
  background: url("../images/3.png") no-repeat center;
}
#menuAlterno li:nth-child(4) {
  background: url("../images/4.png") no-repeat center;
}
#menuAlterno li:nth-child(4):hover {
  background: url("../images/4.png") no-repeat center;
}
#menuAlterno li:nth-child(5) {
  background: url("../images/5.png") no-repeat center;
}
#menuAlterno li:nth-child(5):hover {
  background: url("../images/5.png") no-repeat center;
}
#menuAlterno li:nth-child(6) {
  background: url("../images/6.png") no-repeat center;
}
#menuAlterno li:nth-child(6):hover {
  background: url("../images/6.png") no-repeat center;
}
#menuAlterno li:nth-child(7) {
  background: url("../images/7.png") no-repeat center;
}
#menuAlterno li:nth-child(7):hover {
  background: url("../images/7.png") no-repeat center;
}
#menuAlterno a {
  color: #eee;
  display: block;
  height: 100%;
  text-decoration: none;
}

.current{
  height: 158px;
  left: 7.5%;
  margin-left: -50px;
  position: absolute;
  top: -13px;
  width: 100px;


  -webkit-transition: all 400ms cubic-bezier(0, 1.1, 0.5, 1.1);
  -moz-transition: all 400ms cubic-bezier(0, 1.1, 0.5, 1.1);
  -o-transition: all 400ms cubic-bezier(0, 1.1, 0.5, 1.1);
  -ms-transition: all 400ms cubic-bezier(0, 1.1, 0.5, 1.1);
  transition: all 400ms cubic-bezier(0, 1.1, 0.5, 1.1);
}
.cback {
  background-color: #aaaaaa;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
}
.ctoparr {
  height: 12px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 13px;
  width: 100%;
  z-index: 2;
}
.ctoparr:before {
  border-radius: 20%;
  box-shadow: 0 0 15px #000;
  content: "";
  height: 10px;
  left: 5%;
  position: absolute;
  top: -10px;
  width: 90%;
}
.ctoparr:after{
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #aaaaaa;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: 0;
  width: 0;
}
.cbotarr {
  bottom: 17px;
  height: 12px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.cbotarr:before {
  border-radius: 20%;
  bottom: -10px;
  box-shadow: 0 0 15px #000;
  content: "";
  height: 10px;
  left: 5%;
  position: absolute;
  width: 90%;
}
.cbotarr:after {
  border-bottom: 12px solid #aaaaaa;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}

#menuAlterno li.selected:nth-child(1) ~ .current {
  left: 7.5%;
}
#menuAlterno li.selected:nth-child(2) ~ .current {
  left: 21.5%;
}
#menuAlterno li.selected:nth-child(3) ~ .current {
  left: 35.5%;
}
#menuAlterno li.selected:nth-child(4) ~ .current {  
  left: 49.5%;
}
#menuAlterno li.selected:nth-child(5) ~ .current {
  left: 63.5%;
}
#menuAlterno li.selected:nth-child(6) ~ .current {
  left: 77.5%; 
}
#menuAlterno li.selected:nth-child(7) ~ .current {
  left: 91.5%; 
}
#menuAlterno li:nth-child(1):hover ~ .current {
  left: 7.5%;
}
#menuAlterno li:nth-child(2):hover ~ .current {
  left: 21.5%;
}
#menuAlterno li:nth-child(3):hover ~ .current {
  left: 35.5%;
}
#menuAlterno li:nth-child(4):hover ~ .current {  
  left: 49.5%;
}
#menuAlterno li:nth-child(5):hover ~ .current {
  left: 63.5%;
}
#menuAlterno li:nth-child(6):hover ~ .current {
  left: 77.5%; 
}
#menuAlterno li:nth-child(7):hover ~ .current {
  left: 91.5%; 
}
/* fin menu alterno 2*/

#noticias{
	background: #FFFFFF;
	width: 80%;
	height: 380px;
	padding:10px 10% 0 10%;  
}

#noticiaA{
	width: 39%;
	height: 380px;
	float: left;
	margin: 0 1% 0 0;
}

#noticiaB{
	width: 55%;
	height: 380px;
	float: left;
	padding: 0 4% 0 0;
}

#aboutUsDiv{
  background: #FFFFFF;
  width: 80%;
  height: 320px;
  padding:10px 10% 0 10%;  
}

#aboutUsA{
  width: 39%;
  height: 260px;
  float: left;
  margin: 0 1% 0 0;
}

#aboutUsB{
  width: 55%;
  height: 260px;
  float: left;
  padding: 0 4% 0 0;
  text-align: justify;
}

#lineaDivisoriaAbout{
  width: 100%;
  height: 10px;
  float: left;
  padding: 10px 0 30px 0;
}

#lineaDivisoriaAbout img{
  width: 100%;
}

#textoNoticia{
  height: 240px;
}
.noticiaPanel{
	width: 24%;
	height: 110px;
	float: left;
	margin: 0 1% 0 0;
	font-size: 14px;
}

.noticiaPanel img{
	width: 100%;
    height: 60%;
    max-width: 100%;
}

.noticiaPanel a{
	color: #333333;
	text-decoration: none;
}
.noticiaPanel a:hover{
	color: #009EC1;
}

.noticiaPanelActive{
	width: 22%;
	height: 110px;
	float: left;
	margin: 0 1% 0 0;
  
}

.noticiaPanelActive img{
	width: 100%;
  height: 60%;
  max-width: 100%;
  border: 1px solid #009EC1;
}

.noticiaPanelActive a{
	color: #333333;
	text-decoration: none;
}
.noticiaPanelActive a:hover{
	color: #009EC1;
}

.noticiaFecha{
	font-size: 11px;
	color: #CCCCCC;
}

h1{
	font-weight: lighter;
	font-size: 22px;
	line-height: 1px;
}
h2{
	font-weight: lighter;
	color:#009EC1;
	font-size: 22px;	
	/*line-height: 1px;*/
}

h2 a {
	color:#009EC1;	
	text-decoration: none;
}
h2 a:hover{
	color:#000000;	
}

#slideshow{
  /*background: #CCCCCC;*/
  width: 100%;
  height: auto;
}
.fluid_container {
	width: 100%;
	top: -20px;
  position: relative;
}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

#video{
	width: 80%;
	height: 410px;
	padding:10px 10% 0 10%;	
}

#videoA{
	width: 57%;
	height: 410px;
	float: left;
	padding: 0 2% 0 0;
}

#videoB{
	width: 39%;
	height: 410px;
	float: left;
	margin: 0 1% 0 0;
}

#videoB img{
	width: 100%;
    max-width: 100%;
}


/* Google Maps */
#googleMaps{
	width: 80%;
	height: 278px;
	padding:10px 10% 10px 10%;
	background: #FFFFFF;	
}

#googleMapsA{
	width: 100%;
	height: 250px;
	float: left;
	padding: 0 0 0 0;
}

#googleMapsB{
	width: 48%;
	height: 250px;
	float: left;
	margin: 0 0 0 2%;
}
/* Fin Google Maps*/ 

/* Pie de pagina */
#barFooter{
	width:80%;
	height:180px;
	background:#EFEEEA;
	font-size:12px;
	color:#FFF;
	padding:10px 10% 0 10%; 
}
#barFooterCols{
	width: 22%;
	height: 180px;
	border-right: 1px solid #C0C0C0;
	margin: 0 1% 10px 0;
	color: #333333;
	float: left;
}
#barFooterCols2{
	width: 29%;
	height: 180px;
	margin: 0 1% 10px 0;
	color: #333333;
	float: left;
  text-align: right;
}

#barFooterCols a{
	color: #333333;
	text-decoration: none;
}

#barFooterCols a:hover{
    color: #000000;
}

#barFooterCols2 a{
	color: #A5A5A5;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}
#barFooterCols2 a:hover{
	color: #000000;
}

#barraRoja{
	width:80%;
	height:25px;
	background:#009EC1;
	font-size:12px;
	color:#FFF;
	padding:10px 10% 0 10%; 
	text-align: right;
}

.tituloFooter{
	color: #009EC1;
	font-size: 14px;
	font-weight: bold;
}

/* Contenidos internos */
#cuerpoContenido{
  width:80%;
  height:auto;
  background:#EFEEEA;
  font-size:14px;
  color:#333333;
  padding:10px 10% 0 10%; 
}
/* fin */


/* Menu Responsive */
#menuEmergente{
  visibility:hidden;
  display: none;
}

#container{
  visibility:hidden;
  display: none;

}
/* Fin menu responsive */

/* Noticias Contenedores */
#cuerpoContenidoNoticias{
  width:80%;
  height:800px;
  background:#EFEEEA;
  font-size:14px;
  color:#333333;
  padding:10px 10% 0 10%; 
}

#noticiaContainer{
  width: 22%;
  height: 360px;
  float: left;
  margin: 10px 1% 0 0;
  padding: 1%;
  font-size: 12px;
  background: #FFFFFF;
}

#noticiaContainer p{
  text-align: justify;
  height: 110px;
}

#noticiaContainer h2{
  font-size: 16px;
  height: 50px;
}

#noticiaContainer h2 a{
  color: #AC2828;
}

#noticiaContainer h2 a:hover{
  color: #333333;
}

#noticiaContainer img{
  width: 100%;
  height: 35%;
  max-width: 100%;
}

#noticiaContainer a{
  color: #333333;
  text-decoration: none;
}
#noticiaContainer a:hover{
  color: #009EC1;
}
/* Fin Noticias Contenedores */

/* Form Cotizaciones */
#labelText{
  width: 15%;
  height: 30px;
  float: left;
}
#labelInput{
  width: 35%;
  height: 30px;
  float: left;
}
#labelInput2{
  width: 85%;
  height: 30px;
  float: left;
}
.textoCombo{
  font-size: 12px;
}
/* Fin Form Cotizaciones */

/******************** SLIDE ******************/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../Scripts/slide/img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../Scripts/slide/img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
/******************** FIN SLIDE ******************/

#marcoEventos{
	margin: 5px 0 0 0; 
	border:0;  
	top:0; 
	left: 0; 
	width: 100%; 
	height:800px;
}

/*VISUALIZACION*/
.invisible {
  display: none;
  visibility:hidden;
}
.visible {
  visibility:visible;
}
/*FIN VISUALIZACION*/

#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
  border: 5px solid #cccccc;
  border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
  border: 5px solid #fff;
  border-width: 5px 5px 20px;
  color: #fff;
}
#gallery ul a:hover { color: #fff; }


@media screen and (max-width:1200px){

  #menu{
    width: 60%;
    height: 100px;
    float: left;
    padding: 20px 0 0 2%;
  }

  .menu a {
      border-left: 3px solid rgba(0, 0, 0, 0);
      color: #FFFFFF;
      display: block;
      font-family: "Trebuchet MS",Helvetica,sans-serif;
      font-size: 10px;
      height: 30px;
      padding: 10px 5px 0 5px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
  }

  .submenu a {
      text-align: left;
  }

  #barFooterCols2{
    width: 29%;
    height: 180px;
    margin: 0 1% 10px 0;
    color: #333333;
    float: left;
    text-align: right;
  }

  #barFooterCols2 a{
    color: #A5A5A5;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  #barFooterCols2 a:hover{
    color: #000000;
  }

}

@media screen and (max-width:1020px){
  #marcoEventos{
	margin: 20px 0 0 0; 
	border:0;  
	top:0; 
	left: 0; 
	width: 100%; 
	height:1800px;
  }
	
  #menu{
    visibility: hidden;
    display: none;
  }
  #menuEmergente{
    visibility: visible;
    display: block;
    position: absolute;
    z-index: 9999;
    width: 60%;
    top: -43px;
    left: 35%;
  }

  #topFecha{
    visibility: hidden;
    display: none;
  }

  #sociales_footer{
    width: 30%;
    height: 30px;
    padding:10px 0 10px 0;
    float: left;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
  }

  #topBuscar{
    width: 70%;
    height: 40px;
    padding:10px 0 10px 0;
    float: left;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    text-align: right;
  }

  #menuAlterno{
    visibility: hidden;
    display: none;
  }

  #container{
    visibility: visible;
    display: block;
    height: 142px;
    top: -56px;
    position: relative;
  }

  #barFooterCols2{
    width: 29%;
    height: 180px;
    margin: 0 1% 10px 0;
    font-size: 11px;
    color: #333333;
    float: left;
    text-align: right;
  }

  #barFooterCols2 a{
    color: #A5A5A5;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  #barFooterCols2 a:hover{
    color: #000000;
  }

  /* Noticias Contenedores */
  #cuerpoContenidoNoticias{
    width:80%;
    height:1000px;
    background:#EFEEEA;
    font-size:14px;
    color:#333333;
    padding:10px 10% 0 10%; 
  }

  #noticiaContainer{
    width: 22%;
    height: 380px;
    float: left;
    margin: 10px 1% 0 0;
    padding: 1%;
    font-size: 12px;
    background: #FFFFFF;
  }

  #noticiaContainer p{
    text-align: justify;
    height: 130px;
  }

  #noticiaContainer h2{
    font-size: 16px;
    height: 50px;
  }

  #noticiaContainer h2 a{
    color: #AC2828;
  }

  #noticiaContainer h2 a:hover{
    color: #333333;
  }

  #noticiaContainer img{
    width: 100%;
    height: 35%;
    max-width: 100%;
  }

  #noticiaContainer a{
    color: #333333;
    text-decoration: none;
  }
  #noticiaContainer a:hover{
    color: #009EC1;
  }
  /* Fin Noticias Contenedores */

}


@media screen and (max-width:850px){

  #menu{
    visibility: hidden;
    display: none;
  }
  #menuEmergente{
    visibility: visible;
    display: block;
    position: absolute;
    z-index: 9999;
    width: 50%;
    top: -43px;
    left: 45%;
  }

  .cd-accordion-menu ul a {
    line-height: 14px;
  }

  #logo{
    width: 40%;
    height: 100px;
    float: left;
  }

  #noticias{
    background: #FFFFFF;
    width: 80%;
    height: 600px;
    padding:0 10% 0 10%;  
  }

  #noticiaB{
    width: 90%;
    height: auto;
    float: left;
    padding: 0 5% 0 5%;
  }
  #noticiaA{
    width: 90%;
    height: 130px;
    float: left;
    padding: 3% 5% 0 5%;
  }

  #aboutUsDiv{
    background: #FFFFFF;
    width: 80%;
    height: 600px;
    padding:10px 10% 0 10%;  
  }

  #aboutUsA{
    width: 90%;
    height: auto;
    float: left;
    margin: 0 1% 0 0;
  }

  #aboutUsB{
    width: 90%;
    height: auto;
    float: left;
    padding: 0 4% 0 0;
    text-align: justify;
  }

  #textoNoticia{
    height: 150px;
    font-size: 12px;    
  }

  #video{
    width: 95%;
    height: 710px;
    padding:10px 2% 0 3%; 
  }

  #videoA{
    width: 95%;
    height: 410px;
    float: left;
    padding: 20px 2% 0 3%;
  }

  #videoB{
    width: 95%;
    height: 295px;
    float: left;
    margin: 5px 2% 0 3%;
  }

  #videoB img{
    width: 48%;
    max-width: 48%;
    padding: 0 2% 0 0;
    float: left;
    vertical-align: top;
  }

  #barFooter{
    width:80%;
    height:320px;
    background:#EFEEEA;
    font-size:12px;
    color:#FFF;
    padding:10px 10% 0 10%; 
  }
  #barFooterCols{
    width: 48%;
    height: 150px;
    border-right: 1px solid #C0C0C0;
    margin: 0 1% 10px 0;
    font-size: 11px;
    color: #333333;
    float: left;
  }
  #barFooterCols2{
    width: 48%;
    height: 150px;
    border-right: 1px solid #C0C0C0;
        margin: 0 1% 10px 0;
    font-size: 11px;
    color: #333333;
    float: left;
    text-align: left;
  }

  #barFooterCols a{
    color: #333333;
    text-decoration: none;
  }

  #barFooterCols a:hover{
      color: #000000;
  }

  #barFooterCols2 a{
    color: #A5A5A5;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  #barFooterCols2 a:hover{
    color: #000000;
  }

  /* Noticias Contenedores */
  #cuerpoContenidoNoticias{
    width:95%;
    height:1400px;
    background:#EFEEEA;
    font-size:14px;
    color:#333333;
    padding:10px 2% 0 3%; 
  }

  #noticiaContainer{
    width: 30%;
    height: 380px;
    float: left;
    margin: 10px 1% 0 0;
    padding: 1%;
    font-size: 12px;
    background: #FFFFFF;
  }

  #noticiaContainer p{
    text-align: justify;
    height: 130px;
  }

  #noticiaContainer h2{
    font-size: 16px;
    height: 50px;
  }

  #noticiaContainer h2 a{
    color: #AC2828;
  }

  #noticiaContainer h2 a:hover{
    color: #333333;
  }

  #noticiaContainer img{
    width: 100%;
    height: 35%;
    max-width: 100%;
  }

  #noticiaContainer a{
    color: #333333;
    text-decoration: none;
  }
  #noticiaContainer a:hover{
    color: #009EC1;
  }
  /* Fin Noticias Contenedores */

  /* Form Cotizaciones */
  #labelText{
    width: 25%;
    height: 30px;
    float: left;
  }
  #labelInput{
    width: 75%;
    height: 30px;
    float: left;
  }
  #labelInput2{
    width: 80%;
    height: 30px;
    float: left;
  }
  /* Fin Form Cotizaciones */

}

@media screen and (max-width:600px){

  #menu{
    visibility: hidden;
    display: none;
  }
  #menuEmergente{
    visibility: visible;
    display: block;
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 50px;
    height: 50px;
    left: 0;
  }

  #logo{
    width: 70%;
    height: 100px;
    padding: 0 15% 0 15%;
    float: left;
  }

  #sociales_footer{
    width: 40%;
    height: 30px;
    padding:10px 0 10px 0;
    float: left;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
  }

  #topBuscar{
    width: 58%;
    height: 40px;
    padding:10px 1% 10px 0;
    float: left;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
  }

  #search{
    width: 80px;
    height: 25px;
    position: relative; 
    left: 50px;
    top: -5px;
    border: none;
  }
  
  #slideshow{
	width: 100%;
	height: auto;
	margin:50px 0 0 0;
  }

  #container{
    visibility: visible;
    display: block;
    height: 142px;
    top: -80px;
    position: relative;
  }

  #noticias{
    background: #FFFFFF;
    width: 80%;
    height: 550px;
    padding:0 10% 0 10%;  
  }

  #noticiaB{
    width: 90%;
    height: auto;
    float: left;
    padding: 0 5% 0 5%;
  }
  #noticiaA{
    width: 90%;
    height: 130px;
    float: left;
    padding: 3% 5% 0 5%;
  }

  #aboutUsDiv{
    background: #FFFFFF;
    width: 80%;
    height: 600px;
    padding:10px 10% 0 10%;  
  }

  #aboutUsA{
    width: 90%;
    height: auto;
    float: left;
    margin: 0 1% 0 0;
  }

  #aboutUsB{
    width: 90%;
    height: auto;
    float: left;
    padding: 0 4% 0 0;
    text-align: justify;
  }

  #textoNoticia{
    height: 150px;
    font-size: 12px;    
  }

  #video{
    width: 95%;
    height: 660px;
    padding:10px 2% 0 3%; 
  }

  #videoA{
    width: 95%;
    height: 410px;
    float: left;
    padding: 20px 2% 0 3%;
  }

  #videoB{
    width: 95%;
    height: 200px;
    float: left;
    margin: 5px 2% 0 3%;
  }

  #videoB img{
    width: 48%;
    max-width: 48%;
    padding: 0 2% 0 0;
    float: left;
    vertical-align: top;
  }

  #barFooter{
    width:80%;
    height:600px;
    background:#EFEEEA;
    font-size:12px;
    color:#FFF;
    padding:10px 10% 0 10%; 
  }
  #barFooterCols{
    width: 75%;
    height: 130px;
    border-right: none;
    margin: 10px 25% 10px 0;
    font-size: 11px;
    color: #333333;
  }
  #barFooterCols2{
    width: 85%;
    height: 140px;
    border-right: none;
    margin: -29px 15% 10px 0;
    font-size: 11px;
    color: #333333;
    text-align: left;
  }

  #barFooterCols a{
    color: #333333;
    text-decoration: none;
  }

  #barFooterCols a:hover{
      color: #000000;
  }

  #barFooterCols2 a{
    color: #A5A5A5;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  #barFooterCols2 a:hover{
    color: #000000;
  }  

  #cuerpoContenido img{
    width: 100%;
    max-width: 100%;
    padding: 0 0 0 0;
    float: left;
    vertical-align: top; 
  }

  /* Noticias Contenedores */
  #cuerpoContenidoNoticias{
    width:95%;
    height:1600px;
    background:#EFEEEA;
    font-size:14px;
    color:#333333;
    padding:10px 2% 0 3%; 
  }

  #noticiaContainer{
    width: 47%;
    height: 350px;
    float: left;
    margin: 10px 1% 0 0;
    padding: 1%;
    font-size: 12px;
    background: #FFFFFF;
  }

  #noticiaContainer p{
    text-align: justify;
    height: 100px;
  }

  #noticiaContainer h2{
    font-size: 16px;
    height: 50px;
  }

  #noticiaContainer h2 a{
    color: #AC2828;
  }

  #noticiaContainer h2 a:hover{
    color: #333333;
  }

  #noticiaContainer img{
    width: 100%;
    height: 35%;
    max-width: 100%;
  }

  #noticiaContainer a{
    color: #333333;
    text-decoration: none;
  }
  #noticiaContainer a:hover{
    color: #009EC1;
  }
  #slideshow {
	margin: 50px 0 50px 0;
  }
  /* Fin Noticias Contenedores */

}

@media screen and (max-width:450px){

  #noticias{
    background: #FFFFFF;
    width: 80%;
    height: 500px;
    padding:0 10% 0 10%;  
  }

  #noticiaB{
    width: 90%;
    height: auto;
    float: left;
    padding: 0 5% 0 5%;
  }
  #noticiaA{
    width: 90%;
    height: 130px;
    float: left;
    padding: 3% 5% 0 5%;
  }

  #aboutUsDiv{
    background: #FFFFFF;
    width: 80%;
    height: 600px;
    padding:10px 10% 0 10%;  
  }

  #aboutUsA{
    width: 90%;
    height: auto;
    float: left;
    margin: 0 1% 0 0;
  }

  #aboutUsB{
    width: 90%;
    height: auto;
    float: left;
    padding: 0 4% 0 0;
    text-align: justify;
  }

  #textoNoticia{
    height: 170px;
    font-size: 12px;    
  }

  #video{
    width: 95%;
    height: 600px;
    padding:10px 2% 0 3%; 
  }

  #videoA{
    width: 95%;
    height: 410px;
    float: left;
    padding: 20px 2% 0 3%;
  }

  #videoB{
    width: 95%;
    height: 200px;
    float: left;
    margin: 5px 2% 0 3%;
  }

  #videoB img{
    width: 48%;
    max-width: 48%;
    padding: 0 0 0 0;
    float: left;
    vertical-align: top;
  }

  #cuerpoContenido img{
    width: 100%;
    max-width: 100%;
    padding: 0 0 0 0;
    float: left;
    vertical-align: top; 
  }

  /* Noticias Contenedores */
  #cuerpoContenidoNoticias{
    width:95%;
    height:2900px;
    background:#EFEEEA;
    font-size:14px;
    color:#333333;
    padding:10px 2% 0 3%; 
  }

  #noticiaContainer{
    width: 97%;
    height: 330px;
    float: left;
    margin: 10px 1% 0 0;
    padding: 1%;
    font-size: 12px;
    background: #FFFFFF;
  }

  #noticiaContainer p{
    text-align: justify;
    height: 60px;
  }

  #noticiaContainer h2{
    font-size: 16px;
    height: 50px;
  }

  #noticiaContainer h2 a{
    color: #AC2828;
  }

  #noticiaContainer h2 a:hover{
    color: #333333;
  }

  #noticiaContainer img{
    width: 100%;
    height: 45%;
    max-width: 100%;
  }

  #noticiaContainer a{
    color: #333333;
    text-decoration: none;
  }
  #noticiaContainer a:hover{
    color: #009EC1;
  }
  /* Fin Noticias Contenedores */

  /* Form Cotizaciones */
  #labelText{
    width: 100%;
    height: 30px;
  }
  #labelInput{
    width: 100%;
    height: 30px;
  }
  #labelInput2{
    width: 100%;
    height: 30px;
  }
  
  /* Fin Form Cotizaciones */

}

